# Ignore Python bytecode and cache
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
*.env

# Ignore virtual environment directory
venv-reverse-pdf/

# Ignore directories for PDF input and output
pdf-input-directory/
pdf-output-directory/

# Ignore OS-specific files
.DS_Store
Thumbs.db
